.contact-page {
    display: flex;
    height: 650px;
}

.left-side-contact {
    width: 50vw;
    height: 700px;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.right-side-contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 45px;
    width: 35vw;
    row-gap: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}

textarea {
    border: none;
    border-bottom: 1px solid black;
    min-height: 25px;
    max-height: 160px;
    cursor: pointer;
} 

input::placeholder {
    font-size: small;
    font-weight: bold;
}

textarea::placeholder {
    font-size: small;
    font-weight: bold;
}

input:focus::placeholder {
    opacity: 0.5;
}

textarea:focus::placeholder {
    opacity: 0.5;
}

label {
    margin-top: 30px;
}

button {
    width: 130px;
    background-color: black;
    color: white;
}

@media (max-width: 370px) {
    button {
        width: 110px;
    }
}

@media(max-width: 290px){
    button {
        width: 90px;
    }
    .right-side-contact{
        margin-top: 10px;
        margin-left: 40px;
    }
}