.footer {
    padding-top: 2px;
    margin-top: 50px;
    background-color: rgb(9, 9, 71);
    padding-bottom: 0;
}

.socialMedia {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: white;
}

.social-icons {
    width: 30px;
    height: 30px;
    cursor: pointer;
}